<div class="p-grid p-justify-center p-align-center" style="height: 90vh;">
  <div>
    <div class="p-col-12">
      <span class="p-float-label">
        <input id="cartaoSus" type="text" pInputText [(ngModel)]="usuario.login">
        <label for="cartaoSus">Número do cartão SUS</label>
      </span>

    </div>
    <div class="p-col-12">
      <div class="p-grid">
        <div class="p-col-6">
          <button pButton type="button" label="Entrar" (click)="logar()"></button>
        </div>
        <div class="p-col-3">

          <button pButton type="button" label="Cadastrar" (click)="cadastrar()"></button>
        </div>
      </div>
    </div>

  </div>

</div>
